
html {
    font-family: Copperplate, Papyrus, fantasy;

}

body {
    width: 100%;
    background-image: url("../images/abstract-digital-grid-black-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: antiquewhite;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #387373;
    margin: 0;
    z-index: 1000;
}

.logo-container {
    background-color: #387373;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo {
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding-right: 2rem;
}

nav li {
    padding: 1rem;
}

nav a {
    text-decoration: none;
}

li a {
    padding: 1rem;
}

li a:hover {
    background-color: #93BFB7;
}

h1, h2 {
    padding-top: 1rem;
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 1.35rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

.contact-container {
    justify-content: space-evenly;
}

.products {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.content{
    margin: auto;
}

img {
    max-width: 100%;
    height: 100%;
}

section article {
    width: 29%;
    display: block;
    margin: 1rem;
    max-width: 350px;
}

article {
    background-color: #2D3E40;

}

figcaption {
    width: 100%;
    margin: 0;
    max-width: 400px;
}

article p {
    max-width: 400px;
    text-align: center;
}

#pre-product {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

@media screen and (max-width: 769px) {
    .products {
        flex-direction: column;
    }
    section article {
        width: 100%;
        margin: 1rem auto;
    }
}